@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #5f270b;
}

h1 {
  font-size: 2.6em;
  font-weight: bold;
  padding: 20px;
}

h2 {
  font-size: 2em;
  padding: 20px;
}

nav {
  background-color: #fbf7e3;

  padding: 16px;
}

ul {
  display: flex;
  font-size: 0.8em;
  font-weight: bold;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

li {
  background-color: #f3df85;
  padding: 20px;
  border-radius: 50vh;
}

li:nth-of-type(3) {
  display: flex;
  align-items: center;
}

li img {
  max-width: 60px;
  margin-right: 10px;
}

li p {
  font-size: 1.4em;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin: 0 20px;
}

.product-text h4 {
  padding-inline: 20px;
}

@media only screen and (min-width: 768px) {
  nav {
    /* float: left; */
    display: inline-block;
    position: fixed;
    height: 100vh;
  }
  ul {
    flex-direction: column;
    align-items: stretch;
    font-size: 1em;
  }

  li {
    order: 2;
    margin-bottom: 20px;
    text-align: center;
    line-height: 60px;
  }

  li:nth-of-type(3) {
    order: 1;
  }

  body > *:not(nav) {
    margin-left: 220px;
  }
  .product-container {
    margin-left: 220px;
    flex-wrap: nowrap;
  }

  div.product-card {
    width: 32%;
  }

  div.product-card:last-of-type {
    display: none;
  }

  .product-card h4 {
    padding-inline: 10px;
  }
}

.product-card {
  background-color: #fbf7e3;
  border-radius: 40px;
  overflow: hidden;
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.product-card img {
  flex-grow: 1;

  object-fit: cover;
}
.product-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.product-text h3 {
  font-size: 1.2em;
  padding-bottom: 5px;
}

.product-card button {
  background-color: #f3df85;
  border: none;
  border-radius: 20px;
  margin-inline: 20%;
  margin-bottom: 20px;
  height: 40px;
  font-size: 1em;
  font-weight: bold;
}
article {
  background-color: #fbf7e3;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 30px;
  margin-inline: 20px;
}

article h2 {
  padding: 0;
  font-size: 1.6em;
  padding-block: 16px;
}

article p {
  font-size: 1.2em;
  padding-bottom: 20px;
}

@media (min-width: 1200px) {
  article {
    flex-direction: row-reverse;
  }

  .article-text {
    padding-left: 20px;
  }
}
